<div ng-init="init()"></div>
<br>
<div align="center">
<button class="btn btn-primary"  data-toggle="modal" data-target="#logWindow" >Login into your Account</button>
<button class="btn btn-primary"  data-toggle="modal" data-target="#merchantlogWindow" >Login into your Merchant Account</button>
<button class="btn btn-primary" ng-click="changedRole('USER')" data-toggle="modal" data-target="#regWindow" >Register new Account</button>
</div>





 
<div class="modal fade" id="regWindow">
	<div class="modal-dialog">
		<div class="modal-content">
			<div align="right" class="modal-header">
				<buttontype="button" id="regclose" name="regclose" class="close"  data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<input  type="text"  ng-model="password"  class="form-control" placeholder="Security Code" required = "required" >
						<input  type="text"  ng-model="cardHolder" class="form-control" placeholder="Card Holder Name" required = "required">
						<div class="selectContainer" >
				        	<select class="form-control" ng-model="role" ng-change="changedRole(role)"  ng-options="x for x in roles">
 							</select>
				        </div>
						
						<input type="text" ondragstart="changedRole(role)" id="cardUsername" name="cardUsername" ng-model="cardUsername" class="form-control" placeholder="Merchant Username" required = "required">
						<div class="modal-footer"> 
							<input type="submit" data-dismiss="modal" ng-click="registerAccount(password,cardHolder,role,cardUsername)" class="btn btn-primary btn-block" value="Register" id="register" >
						</div>
					</div>
					
				</form>
			</div>
		</div>
	</div>				
</div>		

<!-- LOGIN POPUP WINDOW -->

<div class="modal fade" id="logWindow">
		<div class="modal-dialog">
			<div class="modal-content">
				<div align="right" class="modal-header">
					<buttontype="button" class="close"  data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<input type="text" ng-model="pan" class="form-control" placeholder="Pan" required = "required">
							<input type="password" ng-model="secret" class="form-control" placeholder="Secret" required = "required">
							<div class="modal-footer">
							<input type="submit" ng-click="login(pan,secret)" class="btn btn-primary btn-block" data-dismiss="modal" value="Login"  >
							</div>
						</div>
				</div>
				</form>

			</div>
		</div>
	
	</div>
</div>	

<!-- MERCHANT LOGIN POPUP WINDOW -->

<div class="modal fade" id="merchantlogWindow">
	<div class="modal-dialog">
		<div class="modal-content">
			<div align="right" class="modal-header">
				<buttontype="button" class="close"  data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<input type="text" ng-model="merchantId" class="form-control" placeholder="Merchant Id" required = "required">
						<input type="password" ng-model="merchantPassword" class="form-control" placeholder="Merchant Password" required = "required">
						<div class="modal-footer">
						<input type="submit" ng-click="loginMerchant(merchantId,merchantPassword)" class="btn btn-primary btn-block" data-dismiss="modal" value="Login"  >
						</div>
					</div>
			</div>
			</form>

		</div>
	</div>

</div>
</div>
