<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div ng-init="paymentInit()"></div>

<div class="container">
  <form class="form-horizontal" role="form">
    <fieldset>
      <legend>Payment</legend>
      <div class="form-group">
        <label class="col-sm-3 control-label" >Card holder name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" ng-model="cardHolderName" placeholder="Jhon Doe">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-number">PAN</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" ng-model="pan"  placeholder="xxxx xxxx xxxx xxxx">
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-3 control-label" for="cvv">Security code</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="password"  placeholder="password">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="cvv">Exp Date</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="expdate"  placeholder="YYYY-MM-DD">
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="button" ng-click="pay(cardHolderName,pan,password,expdate)" class="btn btn-success">Pay Now</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>